<div class="ms-4 me-4" >
    <div class="header">
           <h1>View Attendance</h1>
           <span class="breadcrumb"><a href="/">Home</a> / View Attendance</span>
       </div>
   
       <div class="card">
           <div class="card-header">View Attendance</div>
           <div class="card-body">
               <label for="subject">Subject</label>
               <select class="col-12">
                   <option>----</option>
               </select>
               <label for="session">Session</label>
               <select class="col-12">
                   <option>----</option>
               </select>
               <button class="col-12 bg-primary">Fetch Attendance</button>
           </div>
       </div>
   </div>
